extends layout.pug
include mixins/header

block content
    +headerMixin(loggedInUser)
    ul.post-list
            li.post
                h2
                    a(href=post.url, target="_blank")= post.title
                    p Submitted by&nbsp;
                        a(href="/u/" + post.user.username)= post.user.username
                        span  in&nbsp;
                        a(href="/r/" + post.subreddit.name) /r/#{post.subreddit.name}
                    p Score: #{post.voteScore} Upvotes: #{post.numUpvotes} Downvotes: #{post.numDownvotes}
                    form(method='POST', action='/createComment')
                        input(type='hidden', name='postId', value=post.id)
                        p
                        | Add a comment:
                        br
                        textarea(type='text', name='text', class = "comment-form")
                        br
                        br
                        button(class="button") Submit!
                    each comment in comments
                     p #{comment.text} 
                     | submitted by #{comment.user.username} on #{comment.createdAt}
                                
